<aside id="article_sidebar" class="sj-sidebar">
    <div class="sj-widget sj-widgetrelatedarticles">
      <div class="sj-widgetheading">
        <h3>Upcoming Events</h3>
      </div>
      <div class="sj-widgetcontent">
        <ul>

          <li>
            <span class="sj-username">Christopher</span>
            <div class="sj-description"><a href="article/how-to-control-a-machine-with-your-brain.html">How to Control a
                Machine with
                Your Brain</a></div>
          </li>

          <li>
            <span class="sj-username">Christopher</span>
            <div class="sj-description"><a href="article/the-campaign-for-mobile-Phone-voting-is-getting-a.html">The
                Campaign for
                Mobile-Phone Voting Is Getting a Midterm Test</a></div>
          </li>

          <li>
            <span class="sj-username">Evan</span>
            <div class="sj-description"><a href="article/how-seo-is-important.html">How SEO is
                Important</a></div>
          </li>

          <li>
            <span class="sj-username">Evan</span>
            <div class="sj-description"><a
                href="article/a-basic-vocabulary-of-scientific-and-technological-german.html">A Basic
                Vocabulary of Scientific and Technological German</a></div>
          </li>

          <li>
            <span class="sj-username">Evan</span>
            <div class="sj-description"><a href="article/computers-in-human-behavior.html">Computers in
                Human Behavior</a></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="sj-widget sj-widgetnoticeboard">
      <div class="sj-widgetheading">
        <h3>Notice Board</h3>
      </div>
      <div class="sj-widgetcontent">
        <ul>
          <li>Great Articles</li>
          <li>Articles with lowest prices</li>
          <li>Articles with great reviews</li>
        </ul>
      </div>
    </div>
    <div class="sj-widget sj-widgetadd">
      <span class="sj-headtitle">Advertisment 270 x 270</span>
      <div class="sj-widgetcontent">
        <figure class="sj-addimage">
          <a href="javascript:void(0);">
            <!-- <img id="site_logo" src="../../assets/uploads/settings/widget-add-1547625858.jpg" alt="Advertisement"> -->
            <img id="site_logo" src="../../../../../research-paper/Research.API/uploads/user_image-1559494761357..jpg" alt="Advertisement">
          </a>
        </figure>
      </div>
    </div>
  </aside>