<main id="sj-main" class="sj-main sj-haslayout sj-sectionspace">

  <div class="sj-haslayout sj-welcomegreetingsection sj-sectionspace">
    <div class="container">
      <div class="row">
        <div class="sj-welcomegreeting">
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 sj-verticalmiddle">
            <div id="sj-welcomeimgslider" class="sj-welcomeimgslider sj-welcomeslider owl-carousel">
              <figure class="sj-welcomeimg item">
                <img src="../../assets/uploads/settings/welcome_slider/img-01.jpg" alt="prs.img_desc">
              </figure>
              <figure class="sj-welcomeimg item">
                <img src="../../assets/uploads/settings/welcome_slider/img-02.jpg" alt="prs.img_desc">
              </figure>
              <figure class="sj-welcomeimg item">
                <img src="../../assets/uploads/settings/welcome_slider/img-03.jpg" alt="prs.img_desc">
              </figure>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-7 col-lg-7 sj-verticalmiddle float-right">
            <div class="sj-welcomecontent">
              <div class="sj-welcomehead">
                <span>Greetings &amp; Welcome</span>
                <h2>Explore Latest Researches</h2>
              </div>
              <div class="sj-description">
                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua
                  enim adminim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                  nulla pariatur sed d...
              </div>
              <div class="sj-btnarea">
                <a class="sj-btn" href="page/explore-latest-researches.html">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sj-twocolumns" class="sj-twocolumns">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
          <div id="sj-content" class="sj-content">
            <section class="sj-haslayout sj-sectioninnerspace">
              <div class="sj-borderheading">
                <h3>Latest Articles</h3>
                <a class="sj-btnview" href="published/editions/articles.html">View All</a>
              </div>
              <div id="sj-editorchoiceslider" class="sj-editorchoiceslider sj-editorschoice">
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="../../assets/uploads/editions/1/medium-1547625621-aboutus-img.jpg" alt="Article Image">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username">Christopher</span>
                      <h3><a href="article/how-to-control-a-machine-with-your-brain.html">How to Control a Machine
                          with Your Brain</a></h3>
                    </div>
                    <div class="sj-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et do... </div>
                    <a class="sj-btn" href="article/how-to-control-a-machine-with-your-brain.html">View Full
                      Article</a>
                  </div>
                </article>
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="../../assets/uploads/editions/1/medium-1547625621-aboutus-img.jpg" alt="Article Image">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username">Christopher</span>
                      <h3><a href="article/the-campaign-for-mobile-Phone-voting-is-getting-a.html">The Campaign
                          for Mobile-Phone Voting Is Getting a Midterm Test</a></h3>
                    </div>
                    <div class="sj-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et do... </div>
                    <a class="sj-btn" href="article/the-campaign-for-mobile-Phone-voting-is-getting-a.html">View
                      Full Article</a>
                  </div>
                </article>
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="../../assets/uploads/editions/2/medium-1547625625-author-guideline-img.jpg" alt="Article Image">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username">Evan</span>
                      <h3><a href="article/how-seo-is-important.html">How SEO is Important</a></h3>
                    </div>
                    <div class="sj-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et do... </div>
                    <a class="sj-btn" href="article/how-seo-is-important.html">View Full Article</a>
                  </div>
                </article>
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="../../assets/uploads/editions/2/medium-1547625625-author-guideline-img.jpg" alt="Article Image">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username">Evan</span>
                      <h3><a href="article/a-basic-vocabulary-of-scientific-and-technological-german.html">A Basic
                          Vocabulary of Scientific and Technological German</a></h3>
                    </div>
                    <div class="sj-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et do... </div>
                    <a class="sj-btn" href="article/a-basic-vocabulary-of-scientific-and-technological-german.html">View
                      Full
                      Article</a>
                  </div>
                </article>
                <article class="sj-post sj-editorchoice">
                  <figure class="sj-postimg">
                    <img src="../../assets/uploads/editions/2/medium-1547625625-author-guideline-img.jpg" alt="Article Image">
                  </figure>
                  <div class="sj-postcontent">
                    <div class="sj-head">
                      <span class="sj-username">Evan</span>
                      <h3><a href="article/computers-in-human-behavior.html">Computers in Human Behavior</a></h3>
                    </div>
                    <div class="sj-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et do... </div>
                    <a class="sj-btn" href="article/computers-in-human-behavior.html">View Full Article</a>
                  </div>
                </article>
              </div>
            </section>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
          <app-event></app-event>
        </div>
      </div>
    </div>
  </div>
</main>