<footer id="sj-footer" class="sj-footer sj-haslayout">
  <div class="container" id="footer_area">
    <div class="row">
      <a class="sj-btnscrolltotop" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
      <div class="sj-footercolumns">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 float-left">
          <div class="sj-fcol sj-footeraboutus">
            <strong class="sj-logo">
              <a href="http://amentotech.com/projects/journals">
                <img id="footer_site_logo" src="../../assets/uploads/logo/logo-1547625820.png" alt="Scientific Journal">
              </a>
            </strong>
            <div class="sj-description">
              Eiusmod tempor incididunt ut labore etai dolore magna aliqua enim nostrud exercitation...
            </div>
            <ul class="sj-socialicons sj-socialiconssimple">

              <li class="sj-facebook">
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa fa-facebook">
                  </i>
                </a>
              </li>

              <li class="sj-twitter">
                <a href="https://www.twitter.com/" target="_blank">
                  <i class="fa fa-twitter">
                  </i>
                </a>
              </li>

              <li class="sj-linkedin">
                <a href="https://www.linkedin.com/" target="_blank">
                  <i class="fa fa-linkedin">
                  </i>
                </a>
              </li>

              <li class="sj-googleplus">
                <a href="https://www.google.com/" target="_blank">
                  <i class="fa fa-google-plus">
                  </i>
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
          <div class="sj-fcol sj-widget sj-widgetresources">
            <div class="sj-widgetheading">
              <h3>Resources</h3>
            </div>
            <div class="sj-widgetcontent">
              <ul id="resource-menu">

                <li><a href="page/about-us.html">About Us</a></li>

                <li><a href="page/contact-us.html">Contact Us</a></li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
          <div class="sj-fcol sj-widget sj-widgetcontactus">
            <div class="sj-widgetheading">
              <h3>Get In Touch</h3>
            </div>
            <div class="sj-widgetcontent">
              <ul>
                <li><i class="lnr lnr-home"></i>
                  <address>123 Office St, ABC Building, Melbourne, Australia.</address>
                </li>
                <li><a href="tel:(+4) 1234 5678 9101"><i class="lnr lnr-phone"></i><span>(+4) 1234 5678
                      9101</span></a></li>
                <li><a href="tel:(+4) 1234 5678 9101"><i class="lnr lnr-screen"></i><span>(+4) 1234 5678
                      9101</span></a></li>
                <li><a href="mailto:info@amentotech.com"><i
                      class="lnr lnr-envelope"></i><span>info@amentotech.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="sj-footerbottom">
        <p class="sj-copyrights">© 2019 <span>Scientific Journal</span>. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>